select {
	padding: 4px;
	margin: 4px;
	border: solid 2px #333;
	cursor: pointer;
	text-align: center;

	user-select: none;
	outline: none;
	color: inherit;
	background-color: inherit;
	font-size: inherit;
}
select:disabled {
	opacity: 0.5;
}
section {
	margin-top: 10px;
}

.options {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1.3em;
}
.options, .options select {
	text-transform: uppercase;
}

/*Hide default checkbox*/
.checkbox input[type="checkbox"],
.switch input[type="checkbox"] {
	display: none;
}

.checkbox input[type="checkbox"] + label:before,
.checkbox input[type="checkbox"] + label:after,
.switch input[type="checkbox"] + label:before,
.switch input[type="checkbox"] + label:after {
	content: '';
	position: absolute;
	display: block;
	border-width: 2px;
	border-style: solid;
	border-color: inherit;
	cursor: pointer;
	transition-duration: .1s;
}

/*Checkbox label*/
.checkbox input[type="checkbox"] + label {
	position: relative;
	padding-left: 36px;
	display: inline-block;
	line-height: 34px;
	min-height: 34px;
}

/*Border*/
.checkbox input[type="checkbox"] + label:before {
	top: 4px;
	left: 4px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
}
/*Check*/
.checkbox input[type="checkbox"] + label:after {
	top: 11px;
	left: 11px;
	width: 10px;
	height: 6px;
	border-top: none;
	border-right: none;
	transition-property: transform, opacity;
}

/*Checked*/
.checkbox input[type="checkbox"]:checked + label:after {
	opacity: 1;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/*Unchecked*/
.checkbox input[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/*Switch label*/
.switch input[type="checkbox"] + label {
	position: relative;
	padding-right: 64px;
	display: inline-block;
	line-height: 34px;
	min-height: 34px;
}

/*Switch background*/
.switch input[type="checkbox"] + label:before {
	top: 15px;
	right: 6px;
	height: 0px;
	width: 40px;
	border-radius: 2px;
}
/*Switch position*/
.switch input[type="checkbox"] + label:after {
	top: 4px;
	right: 4px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #FFFFFF;
	transition-property: right;
}

/* Switch on*/
.switch input[type="checkbox"]:checked + label:after {
}

/*Switch off*/
.switch [type="checkbox"]:not(:checked) + label:after {
	right: 26px;
}
