/* Default (no theme) */
body, select option {
	background-color: #FFFFFF;
	color: #333333;
}
select,
.switch input[type="checkbox"] + label:before,
.switch input[type="checkbox"] + label:after,
.checkbox input[type="checkbox"] + label:before,
.checkbox input[type="checkbox"] + label:after {
    border-color: #333;
}

/* Light */

.theme-light,
.theme-light option {
    background-color: white;
    color: #333;
}
.theme-light select,
.theme-light .switch input[type="checkbox"] + label:before,
.theme-light .switch input[type="checkbox"] + label:after,
.theme-light .checkbox input[type="checkbox"] + label:before,
.theme-light .checkbox input[type="checkbox"] + label:after {
    border-color: #333;
}

/* Dark */

.theme-dark,
.theme-dark option {
    background-color: #424242;
    color: black;
}
.theme-dark .select,
.theme-dark .switch input[type="checkbox"] + label:before,
.theme-dark .switch input[type="checkbox"] + label:after,
.theme-dark .checkbox input[type="checkbox"] + label:before,
.theme-dark .checkbox input[type="checkbox"] + label:after {
    border-color: black;
}

/* Night */

.theme-night,
.theme-night option {
    background-color: #212121;
    color: #F5F5F5;
}
.theme-night .select,
.theme-night .switch input[type="checkbox"] + label:before,
.theme-night .switch input[type="checkbox"] + label:after,
.theme-night .checkbox input[type="checkbox"] + label:before,
.theme-night .checkbox input[type="checkbox"] + label:after {
    border-color: #F5F5F5;
}

/* Material */

.theme-material,
.theme-material option {
    background-color: #37474F;
    color: #FAFAFA;
}
.theme-material .select,
.theme-material .switch input[type="checkbox"] + label:before,
.theme-material .switch input[type="checkbox"] + label:after,
.theme-material .checkbox input[type="checkbox"] + label:before,
.theme-material .checkbox input[type="checkbox"] + label:after {
    border-color: #FAFAFA;
}
.theme-material #date,
.theme-material #clock {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
}

/* Light Blue */

.theme-lightblue,
.theme-lightblue option {
    background-color: #ccc;
    color: #003366;
}
.theme-lightblue .select,
.theme-lightblue .switch input[type="checkbox"] + label:before,
.theme-lightblue .switch input[type="checkbox"] + label:after,
.theme-lightblue .checkbox input[type="checkbox"] + label:before,
.theme-lightblue .checkbox input[type="checkbox"] + label:after {
    border-color: #003366;
}

.bgimage #date,
.bgimage #clock {
	text-shadow: 0px 0px 4px rgba(0,0,0,.4);
}
.bgimage .select,
.bgimage input[type="file"] + label,
.bgimage .checkbox input[type="checkbox"] + label:before,
.bgimage .switch input[type="checkbox"] + label:after {
    background-color: rgba(255, 255, 255, .2);
}

/* Light Purple*/

.theme-lightpurple,
.theme-lightpurple option {
    background-color: #483C6C;
    color: #CCC;
}
.theme-lightpurple select,
.theme-lightpurple .switch input[type="checkbox"] + label:before,
.theme-lightpurple .switch input[type="checkbox"] + label:after,
.theme-lightpurple .checkbox input[type="checkbox"] + label:before,
.theme-lightpurple .checkbox input[type="checkbox"] + label:after {
    border-color: #CCC;
}
