@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(Roboto.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
html,
body {
    height: 100%;
}
body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}
#clock {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 10em;
    color: #111;
    font-family: 'Roboto', sans-serif;
    display: inline;
    text-shadow: 4px 4px 4px rgba(38, 50, 56, 0.2);
}
#hours,
#minutes {
    display: inline;
}
#hours:after {
    content: ':';
    margin-right: -25px;
    margin-top: -15px;
}
.light {
    background: white;
}
.dark {
    background: #333;
}
.light #clock {
    color: #333;
}
.light { background: white; }
.light #clock { color: #333; }

.dark { background: #333; }
.dark #clock { color: #111; }

.night { background: #222; }
.night #clock { color: white; }