* {
    transition: .3s;
}
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
div {
    margin: 5px 0;
    border: solid 2px;
}
div,
select {
    width: 130px;
    height: 30px;
}
select {
    font-weight: bold;
    outline: 0;
    border: 0;
    background: 0;
    text-align: center;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
}

.light { background: white; }
.light div { border-color: #444; }
.light select { color: #444; }

.dark { background: #444; }
.dark div { border-color: #111; }
.dark select { color: #111; }

.night { background: #222; }
.night div { border-color: white; }
.night select { color: white; }

.darkmaterial { background: #263238; }
.darkmaterial div { color: #80DEEA; }
.darkmaterial select { color: #80DEEA; }