* {
    transition: .3s;
}
body {
    flex-direction: column;
}
section {
    margin-bottom: 10px;
}
p {
    font-size: 1.1em;
    display: inline-block;
}
.switch {
    margin: 20px 0;
}
.switch p {
    margin: 0 5px;
}
.switch p:last-child {
    margin-left: 52px;
}
.switch input {
    display: none;
}
.switch label {
    position: relative;
    cursor: pointer;
    height: 20px;
    top: 1px;
}
.switch label:before,
.switch label:after {
    content: '';
    position: absolute;
}
.switch label:before {
    top: 0;
    height: 10px;
    width: 45px;
    border-radius: 10px;
}
.switch label:after {
    width: 20px;
    height: 20px;
    top: -5px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transition: .1s;
}
.switch input:checked + label:after {
    left: 25px;
}
.checkbox {
    position: relative;
}
.checkbox label {
    width: 22px;
    height: 22px;
    position: absolute;
    border: solid 2px black;
    top: 2px;
    left: 2px;
    cursor: pointer;
    background: white;
    border-radius: 50px;
}
.checkbox label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 6px;
    left: 5px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: .1s;
}
.checkbox input {
    visibility: hidden;
}
.checkbox input:checked + label:after {
    opacity: 1;
    transition: .1s;
}
.checkbox p {
    margin-left: 12px;
    margin-top: 7px;
}
.select {
    border: solid 2px #333;
    overflow: hidden;
}
.select,
select {
    width: 130px;
    height: 30px;
}
select {
    font-weight: bold;
    outline: 0;
    border: 0;
    background: 0;
    text-align: center;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
}
.github {
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-decoration: none;
    font-size: 1.1em;
}

.light .switch label:before,
.light .switch label:after { background: #333; }
.light .checkbox label { background: white; }
.light div { border-color: #444; }
.light .checkbox label { border-color: black; }
.light select { color: #444; }
.light p { color: black; }
.light .github { color: grey; }

.night .switch label:before,
.night .switch label:after { background: white; }
.night .checkbox label { background: #222; }
.night div,
.night .checkbox label,
.night .checkbox label:after { border-color: white; }
.night select,
.night p { color: white; }
.night .github { color: white; }

.dark .switch label:before,
.dark .switch label:after { background: #111; }
.dark .checkbox label { background: #333; }
.dark div,
.dark .checkbox label { border-color: #111; }
.dark select,
.dark p,
.dark .github { color: #111; }

.material .switch label:before,
.material .switch label:after { background: #00BCD4; }
.material .checkbox label { background: #263238; }
.material div,
.material .checkbox label,
.material .checkbox label:after { border-color: white; }
.material select,
.material p,
.material .github { color: white; }