* {
    transition: .1s;
}
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
div {
    margin: 5px 0;
    border: solid 2px;
}
div,
select {
    width: 130px;
    height: 30px;
}
select {
    font-weight: bold;
    outline: 0;
    border: 0;
    background: 0;
    text-align: center;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
}
.light {
    background: white;
}
.dark {
    background: #444;
}
.light div {
    border: solid 2px #444;
}
.light select {
    color: #444;
}
.dark div {
    border: solid 2px #111;
}
.dark select {
    color: #111;
}